.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.profile {
  text-align: center;
}

.introduction, .experience, .projects, .strengths, .education {
  margin: 20px 0;
}

/* 모바일 화면에서 내용 영역 조정 */
@media (max-width: 600px) {
  .introduction, .experience, .projects, .strengths, .education {
    margin: 20px 10px; /* 좌우 여백 추가 */
    font-size: 16px; /* 폰트 크기 증가 */
  }
}


h2 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}
